body {
    background-color:#ddeff3;
}
hr{
  border-style: none;
  border-top-style: dotted;
  border-width: 5px;
  border-color: rgb(126, 137, 138);
  width: 10%;
}
h1{
    color:#16dcff ;
    
}
h3{
    color:#14aac4 ;
}
img:hover {
    background-color: rgb(223, 222, 215);
}